{% extends "base.html.twig" %}

{% block header %}{% endblock %}

{% block content %}
    <ul class="list-group">
        <li class="row list-group-item list-group-item-action"><button class="bg-transparent border-0"><h2>Mon identifiant et mot de passe</button></h2>

        </li>
        <li class="row list-group-item list-group-item-action"><button class="bg-transparent border-0"><h2>Mes informations personnelles</button></h2></li>
        <li class="row list-group-item list-group-item-action"><button class="bg-transparent border-0"><h2>Mon objectif horaire</button></h2></li>
        <li class="row list-group-item list-group-item-action"><button class="bg-transparent border-0"><h2>Dashboard</button></h2></li>
    </ul>
{% endblock %}